<a href="https://colab.research.google.com/github/YaeRin-Yoo/Animal-Fluency_correct-response_analysis_240813/blob/main/Cluster_analysis_open.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd , numpy as np, csv

In [ ]:
# Animal Inventory file import
inventory = pd.read_csv('/content/drive/MyDrive/연구 코드/Animal fluency Kor 2024/csv/정리 inventory/all_data_240813.csv')

In [ ]:
# cluster 정리 : 동물 리스트 넣으면 inventory의 cluster 1, 2에 대해 접근하여 (cluster1, cluster2) 식으로 군집 리턴

def finding_cluster (animal_list) :
  each_c3 =[]

  for animal in animal_list :
    number = inventory[inventory['동물_수정']==animal].index.values[0]
    c1 = inventory['군집1'].loc[number]
    if str(inventory['군집2'].loc[number]) != 'nan' :
      c2 = int(inventory['군집2'].loc[number])
    else :
      c2 = 'X'
    c3 = (c1,c2)
    #str(c1)+str(c2) = c1c2 이런 식으로 나옴

    each_c3.append(c3)

  return each_c3

In [ ]:
#확인
finding_cluster (['토끼', '산토끼', '소', '물소', '개구리', '올챙이'])

[(5, 4), (3, 4), (4, 4), (1, 4), (3, 3), (3, 3)]

In [ ]:
# cluster 수 세는 함수 : a는 군집 하나

def cluster_number (animal_list) :
  c3 = finding_cluster(animal_list)

  c3_cn = []
  for a in range (len(c3)-1) :
    if c3[a] == c3[a+1] :
      no = 0
    else :
      no = 1
    c3_cn.append(no)
  c3_cn.append(1) #마지막에 1 붙여주어야 함

  return c3_cn

In [ ]:
# 확인
cluster_number (['토끼', '산토끼', '소', '물소', '개구리', '올챙이'])

[1, 1, 1, 1, 0, 1]

In [ ]:
# cluster size 세는 함수 : a는 cluster number 값 (0 or 1) 하나

def cluster_size (animal_list) :
  c3_cn = cluster_number(animal_list)

  c3_cs = []
  size = 0
  for a in range (len(c3_cn)) :
    if c3_cn[a] == 0 :
      write = 0
      c3_cs.append(write)
      size = size +1
    elif c3_cn[a] == 1 :
      c3_cs.append(size)
      size = 0


  return c3_cs

In [ ]:
# 확인
cluster_size (['토끼', '산토끼', '소', '물소', '개구리', '올챙이'])

[0, 0, 0, 0, 0, 1]

In [ ]:
# final 값이 담긴 함수 제작 : total cluster number, the number of switchings, total cluster size, mean cluster size 리턴

def final_score (animal_list) :
  c3_cn = cluster_number(animal_list)
  c3_cs = cluster_size(animal_list)

  c3_cn_f = sum(c3_cn)
  c3_s_f = sum(c3_cn)-1
  c3_cs_f = sum(c3_cs)
  c3_mcs_f = sum(c3_cs) / sum(c3_cn)

  return c3_cn_f, c3_s_f, c3_cs_f, c3_mcs_f

In [ ]:
# 확인
final_score (['토끼', '산토끼', '소', '물소', '개구리', '올챙이'])

(5, 4, 1, 0.2)