<a href="https://colab.research.google.com/github/YaeRin-Yoo/Animal-Fluency_correct-response_analysis_240813/blob/main/Cluster_analysis_open.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd , numpy as np, csv

# 군집 별 동물 리스트 정리

cluster1 : 서식지 관련

*   1	동물원: 우리나라에서 서식하지 않는 동물 (분포지역이 대한민국이 아닌 동물) -- 물+육지인 경우도 포함
*   2	물 속: 물 속에서만 사는 동물
*   3	야생동물: 우리나라에서 서식(산,들)하면서 애완/가축이 아닌 경우 (예: 새, 개구리, 오소리 포함)
*   4	가축: 우리나라에서 키우는 식용 동물 (도축)
*   5	반려동물: 사람과 더불어 살며 심리적으로 안정감을 주는 동물 (예: 개, 고양이, 앵무새, 햄스터, 고슴도치)
*   6	멸종동물: 공룡, 매머드, 키위, 오스트랄로피테쿠스
*   7	상위동물 : 포유류, 맹금류 등 상위어를 말한 경우
*   8 제외


cluster2 : 종류 관련


*   1 : 곤충
2 : 조류
3 : 파충류/양서류
4 : 포유류
5 : 어류
6 : 영장류
7 : 무척추동물
8 : 관계성

cluster3 : cluster1, cluster2

In [6]:
# Animal Inventory file import
inventory = pd.read_csv('/content/drive/MyDrive/연구 코드/Animal fluency Kor 2024/csv/정리 inventory/all_data_240813.csv')

In [7]:
# cluster 정리 : 동물 리스트 넣으면 inventory의 cluster 1, 2에 대해 접근하여 (cluster1, cluster2) 식으로 군집 리턴

def finding_cluster (animal_list) :
  each_c3 =[]

  for animal in animal_list :
    number = inventory[inventory['동물_수정']==animal].index.values[0]
    c1 = inventory['군집1'].loc[number]
    if str(inventory['군집2'].loc[number]) != 'nan' :
      c2 = int(inventory['군집2'].loc[number])
    else :
      c2 = 'X'
    c3 = (c1,c2)
    #str(c1)+str(c2) = c1c2 이런 식으로 나옴

    each_c3.append(c3)

  return each_c3

In [8]:
finding_cluster (['토끼', '산토끼', '소', '물소', '개구리', '올챙이'])

[(5, 4), (3, 4), (4, 4), (1, 4), (3, 3), (3, 3)]

In [9]:
# cluster 수 세는 함수 : a는 군집 하나

def cluster_number (animal_list) :
  c3 = finding_cluster(animal_list)

  c3_cn = []
  for a in range (len(c3)-1) :
    if c3[a] == c3[a+1] :
      no = 0
    else :
      no = 1
    c3_cn.append(no)
  c3_cn.append(1) #마지막에 1 붙여주어야 함

  return c3_cn

In [10]:
cluster_number (['토끼', '산토끼', '소', '물소', '개구리', '올챙이'])

[1, 1, 1, 1, 0, 1]

In [11]:
# cluster size 세는 함수 : a는 cluster number 값 (0 or 1) 하나

def cluster_size (animal_list) :
  c3_cn = cluster_number(animal_list)

  c3_cs = []
  size = 0
  for a in range (len(c3_cn)) :
    if c3_cn[a] == 0 :
      write = 0
      c3_cs.append(write)
      size = size +1
    elif c3_cn[a] == 1 :
      c3_cs.append(size)
      size = 0


  return c3_cs

In [12]:
cluster_size (['토끼', '산토끼', '소', '물소', '개구리', '올챙이'])

[0, 0, 0, 0, 0, 1]

In [15]:
# final 값이 담긴 함수 제작 : total cluster number, the number of switchings, total cluster size, mean cluster size 리턴

def final_score (animal_list) :
  c3_cn = cluster_number(animal_list)
  c3_cs = cluster_size(animal_list)

  c3_cn_f = sum(c3_cn)
  c3_s_f = sum(c3_cn)-1
  c3_cs_f = sum(c3_cs)
  c3_mcs_f = sum(c3_cs) / sum(c3_cn)

  return c3_cn_f, c3_s_f, c3_cs_f, c3_mcs_f

In [16]:
final_score (['토끼', '산토끼', '소', '물소', '개구리', '올챙이'])

(5, 4, 1, 0.2)